<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% load static %}

<!DOCTYPE html>

<html lang="en">

	<title>Register Your Details</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <style type="text/css">
<!--
.style1 {
	color: #FF0000;
	font-weight: bold;
}
-->
        </style>
	    <head>



	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background: url("{% static 'bg.jpg' %}");
			}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
        .style2 {color: #00FF00}
        .style3 {color: #FFFFFF}
        .style4 {
	color: #FFFF00;
	font-weight: bold;
	font-style: italic;
}
        .style5 {color: #FF0000}
        </style>
	</head>
	<body>
	<div class="container-fluid">
		<div>
			<h2 class="text-center style1" id="title">Smart City Transportation Deep Learning Ensemble Approach for Traffic Accident Detection
</h2>
			 <p class="text-center">
				<span class="style1"><small id="passwordHelpInline" class="text-muted">Traffic surveillance, accident detection, action recognition, smart city, autonomous
transportation, deep learning...</small></span></p>
			 <hr>
			<div class="row">
				<div>
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
                            <p>{% load static %}
				              <br>
			            <span class="style1 style22">REGISTER YOUR DETAILS HERE !!!</span>      </p>
                        <table width="825" border="10" align="center">
                        <tr>
                          <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4"><img src="{% static '/Register.jpg' %}" alt="My image"> Enter Your Details !!! </div></td>
                          </tr>
                        <tr>
                          <td width="184" height="31" bgcolor="#FFFFFF"><span class="style19 style5"><strong>Enter Username </strong></span></td>
                          <td width="202" bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="text" name="username" id="username"  placeholder="User Name" required="required" />
                          </span></td>
                          <td width="253" bgcolor="#FFFFFF"><span class="style22 style5"><strong>Enter Password </strong></span></td>
                          <td width="168" bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="password" name="password" id="password"  placeholder="Password" required="required" />
                          </span></td>
                        </tr>
                        <tr>
                          <td height="47" bgcolor="#FFFFFF"><span class="style19 style5"><strong>Enter EMail Id </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="email" name="email" id="email"  placeholder="Enter Email " required="required" />
                          </span></td>
                          <td bgcolor="#FFFFFF"><span class="style22 style5"><strong>Enter Address </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <textarea name="address" placeholder="Enter Address "></textarea>
                          </span></td>
                        </tr>
                        <tr>
                          <td height="37" bgcolor="#FFFFFF"><span class="style19 style5"><strong>Enter Gender </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="style5">
                            <select name="gender">
                                <option>----Select Gender ----</option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                          </span> </td>
                          <td bgcolor="#FFFFFF"><span class="style22 style5"><strong>Enter Mobile Number </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="number" name="phoneno" id="phoneno"  placeholder="Enter Mobile Number" required="required" />
                          </span></td>
                        </tr>
                        <tr>
                          <td height="33" bgcolor="#FFFFFF"><span class="style19 style5"><strong>Enter Country Name </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="text" name="country" id="country"  placeholder="Enter Country Name" required="required" />
                          </span></td>
                          <td bgcolor="#FFFFFF"><span class="style22 style5"><strong>Enter State Name </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="text" name="state" id="state"  placeholder="Enter State Name" required="required" />
                          </span></td>
                        </tr>
                        <tr>
                          <td height="33" bgcolor="#FFFFFF"><span class="style19 style5"><strong>Enter City Name </strong></span></td>
                          <td bgcolor="#FFFFFF"><span class="form-group style5">
                            <input type="text" name="city" id="city"  placeholder="Enter City Name" required="required" />
                          </span></td>
                          <td bgcolor="#FFFFFF"><span class="style5"></span></td>
                          <td bgcolor="#FFFFFF"><input name="submit" type="submit" class="style1"  value="Register" /></td>
                        </tr>
                        <tr>
                          <td height="32" colspan="4" bgcolor="#FFFFFF"><span class="style5"></span></td>
                        </tr>
                        <tr>
                          <td height="68" colspan="4" bgcolor="#FF66FF"><div align="center"><span class="style12 style3 style10"><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></div></td>
                          </tr>
                      </table>
					  </fieldset>
						<div><br>
						  
 					</form>
				</div>
                <table width="513" border="0" align="center" >
                                    <tr><td width="424" bgcolor="#FF0000"><div align="center" class="style23">
                                      <div align="left"><span class="style2"><strong>Registered Status</strong></span><span class="style7 style2 style5"> ::</span>  <span class="style8 style2"><strong>{{object}}</strong></span></div>
                                    </div></td>

    </table>


                <br>
                <p align="center">&nbsp;</p>



				<div class="col-md-2">
					<!-------null------>
				</div>

				<div class="col-md-5">				</div>
			</div>
		</div>

	</div>
	</body>


</html>
